---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=<LOCATIONIQ_TOKEN>&q=Seattle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"208918455","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"237385","boundingbox":["47.4810022","47.7341357","-122.459696","-122.224433"],"lat":"47.6038321","lon":"-122.3300624","display_name":"Seattle,
        King County, Washington, USA","class":"place","type":"city","importance":0.80154398538761,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_place_city.p.20.png"},{"place_id":"147052395","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"291707810","boundingbox":["25.1837689","25.1845505","121.4465868","121.4474398"],"lat":"25.18415975","lon":"121.446939985985","display_name":"Seattle,
        Tamsui, \u5317\u6295\u91cc, Lanweibu, Tamsui District, New Taipei, 251, ROC","class":"landuse","type":"residential","importance":0.31},{"place_id":"59671807","li[...]
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=<LOCATIONIQ_TOKEN>&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Request"}'
  recorded_at: Tue, 19 Mar 2019 15:22:46 GMT
recorded_with: VCR 4.0.0
